.span-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7; /* Un color de fondo claro para contraste */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-section {
  display: flex;
  gap: 20px; /* Espacio entre imágenes */
  margin-bottom: 20px; /* Espacio entre las imágenes y los iconos */
}

.span-image {
  width: auto;
  max-height: 150px;
  border-radius: 10px;
}

.icon-section {
  display: flex;
  gap: 20px; /* Espacio entre íconos */
  flex-wrap: wrap; /* Si hay muchos íconos, permite que se envuelvan a la siguiente línea */
}
