:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --color-1-yellow: #fbffa7;
  --color-2-orange: #ff764d;
  --color-3-ligthblue: #b1c5ff;
  --color-4-violet: #d5b3ff;
  --color-green: #b6ffc0;
  --color-blue: #0000ff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}